@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 18px;
  height: fit-content;
  width: 30rem;
  position: absolute;
  left: 55%;
  top: 22%;
  font-family: "Space Grotesk", sans-serif;
}
.btn {
  padding: 18px;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  max-width: 100%;
  cursor: pointer;
  width: 20rem;
}

@media only screen and (max-width: 426px) {
  p {
    font-size: 12px;
  }
  .front {
    left: 10%;
    top: 20%;
    z-index: 1;
  }
  .back {
    left: 20%;
    top: 5%;
    z-index: 0;
  }
  .img1 {
    width: 83%;
  }
  .img2 {
    width: 96%;
  }
  .cardnum {
    left: 4%;
  }
  .cardnumP {
    font-size: 16px;
  }
  .date {
    left: 70%;
  }
  .form {
    left: 12%;
    top: 43%;
    width: 15rem;
  }
  label,
  input {
    font-size: 12px;
  }
  .input {
    width: 18rem;
  }

  .container {
    width: -webkit-fill-available;
    top: 47%;
    left: 0;
  }
}
